ion-header {
  background: var(--ion-background-color); // Color de fondo dinámico según el tema
}

ion-toolbar {
  --background: var(--ion-background-color); // Fondo del toolbar dinámico
}

ion-item {
  margin-bottom: 10px;
  background-color: var(--ion-card-background); // Fondo dinámico del ítem
  box-shadow: var(--ion-box-shadow); /* Sombra en los campos */
}
  

.no-requests-text {
  text-align: center; /* Centra el texto */
  margin-top: 20px; /* Espaciado superior */
  font-size: 18px;
  color: #ccc;
}

/* Ajuste de márgenes o padding según el tamaño de la pantalla */
@media (max-width: 768px) {
  ion-item {
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  ion-item {
    margin-bottom: 15px;
  }
}

@media (min-width: 1201px) {
  ion-item {
    margin-bottom: 20px;
  }
}
