/* Estilos para el encabezado */
ion-header {
  background: var(--ion-toolbar-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-toolbar {
  --background: var(--ion-toolbar-background);
}

/* Estilos para los títulos de las tarjetas */
ion-card-title {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 1.5em;
}

/* Estilos para los subtítulos de las tarjetas */
ion-card-subtitle {
  color: var(--ion-text-secondary);
  font-size: 1.1em;
}

/* Estilo para el contenido de las tarjetas */
ion-card-content {
  color: var(--ion-text-secondary);
  font-weight: normal;
  padding: 16px;  
  padding-top: 0px;
}

/* Estilos para el fondo de los cards */
.device-details {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--ion-card-background);
}

/* Estilos personalizados para el contenido */
.custom-content {
  width: 100%;
  margin: 0;
  padding: 16px; /* Aumentar el padding para mejor espaciado */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  ion-card-title {
    font-size: 1.3em; /* Ajustar tamaño de título en móviles */
  }

  ion-card-subtitle {
    font-size: 1em; /* Ajustar tamaño de subtítulo en móviles */
  }

  ion-card-content {
    padding: 12px; /* Reducir padding en móviles */
  }

  ion-fab {
    margin: 10px; /* Espacio para el botón flotante */
  }

  .custom-content {
    padding: 8px; /* Reducir padding en móviles */
  }
}
