<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="loadAllProjects($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      pullingText="Desliza  para refrescar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" *ngFor="let project of projects">

        <ion-text *ngIf="project.length === 0" color="medium" class="no-devices-text">
          <p>No hay proyectos creados actualmente.</p>
        </ion-text>
        <ion-item (click)="viewProjectDetails(project.id)">
          <ion-label>
            <h2>{{ project.name }}</h2>
            <p>{{ project.description }}</p>
            <p>Status: {{ project.status }}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
