<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="loadInvitations($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="invitations.length === 0">
        <ion-text color="medium" class="no-invitations-text">
          <p>No tienes notificaciones.</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" *ngFor="let invitation of invitations">
        <ion-item>
          <ion-label>
            <h2>{{ invitation.project.name }}</h2>
            <p>Invitado por: {{ invitation.inviter.email }}</p>
            <p>Estado: {{ invitation.status }}</p>
          </ion-label>

          <ion-button slot="end" color="success" (click)="acceptInvitation(invitation.id)">
            Aceptar
          </ion-button>
          <ion-button slot="end" color="danger" (click)="rejectInvitation(invitation.id)">
            Rechazar
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
