
ion-header {
  background: var(--ion-background-color); // Color de fondo dinámico según el tema
}

ion-toolbar {
  --background: var(--ion-background-color); // Fondo del toolbar dinámico
}

.ion-header-card {
  --background: var(--ion-item-background);
}

.ion-toolbar-card {
  --background: var(--ion-background-color); // Fondo del toolbar dinámico
}

.counter-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea a la izquierda para que no estén centrados */
  gap: 10px; /* Añade espacio entre el contador y el botón */
  width: 100%; /* Asegura que el botón se expanda al 100% del ancho */
}

ion-button {
  width: 100%;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgba(7, 7, 7, 0.925), 0 4px 6px -4px rgba(255, 255, 255, 0.979);
}

ion-modal::part(backdrop) {
  background: rgb(0, 0, 0);
  opacity: 1;
}

ion-modal {
  --background: var(--ion-background-color); // Color de fondo
  --color: var(--ion-text-color); // Color del texto
  border-radius: 16px; // Bordes redondeados
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Sombra
}

.center-select {
  margin: 0 auto; /* Esto centra el elemento dentro de su contenedor */
  display: block;
  width: fit-content; /* Ajusta el ancho al contenido */
}
.custom-padding {
  padding: 20px; // Ajusta el padding según sea necesario
}

.custom-searchbar {
  --background: var(--ion-background-color); // Color de fondo
  --color: var(--ion-text-color); // Color del texto
  --placeholder-color: var(--ion-text-secondary); // Color del placeholder
  border-radius: var(--ion-border-radius, 10px); // Bordes redondeados
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Sombra
  margin-bottom: 10px; // Espacio debajo del buscador
}

@media (min-width: 768px) {
  .custom-padding {
    padding-left: 32px; /* Espacio más amplio en pantallas grandes */
    padding-right: 32px; /* Espacio más amplio en pantallas grandes */
  } 
}

