ion-header {
  background: var(--ion-background-color); // Color de fondo dinámico según el tema
}

ion-toolbar {
  --background: var(--ion-background-color); // Fondo del toolbar dinámico
}

.profile-container {
  .profile-header {
    text-align: center;
    padding: 20px;

    .profile-picture {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 3px solid var(--ion-color-primary); /* Borde usando variable */
      box-shadow: 0 4px 10px rgba(22, 100, 216, 0.5); /* Usar sombras consistentes */
    }

    .profile-name {
      font-size: 24px;
      margin: 5px 0;
      color: var(--ion-text-color); /* Usar color de texto de la variable */
    }

    .profile-status {
      color: var(--ion-text-secondary); /* Usar color secundario */
    }

    .edit-button {
      margin-top: 10px;
    }
  }

  .personal-info {
    border-radius: 10px; /* Usar border-radius de variable global */
    box-shadow: 0 1px 6px rgba(146, 146, 146, 0.363); /* Usar sombra de variable global */
    background-color: var(--ion-card-background); /* Fondo usando la variable global */
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;

    ion-item {
      --background: var(--ion-card-background); /* Mismo color de fondo que el contenedor */
      --border-color: transparent; /* Eliminar el borde predeterminado */

      ion-label {
        font-size: small;
        color: var(--ion-text-color);
      }
      ion-note {
        color: #a0a0a0; /* Color del texto para el ion-note (gris) */
      }
    }

    h3 {
      font-size: medium;
      margin-bottom: 10px;
      color: var(--ion-text-color); /* Color de texto primario */
    }
  }
}
