:root {
  @font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/CascadiaCodePL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Fuente personalizada */
  --ion-font-family: 'MyCustomFont', sans-serif;

  --ion-box-shadow: 0 1px 6px rgba(66, 65, 65, 0.363);

  /* Colores principales para el modo claro */
  --ion-color-primary: #007aff;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-danger: #e53e3e; /* Botón de eliminar en modo claro */
  --ion-color-warning: #ffcc00; /* Botón de editar en modo claro */

  --ion-input-background: #f7f7f7;

  /* Colores del modo claro */
  --ion-background-color: #ffffff; /* Fondo claro */
  --ion-text-color: #1c1c1c; /* Texto oscuro */
  --ion-text-secondary: #666666; /* Texto secundario claro */
  --ion-text-danger: #e53e3e; /* Texto de advertencia */
  --ion-card-background: #f7f7f7; /* Fondo claro para las tarjetas */

  /* Barra de herramientas y pestañas */
  --ion-toolbar-background: #ffffff;
  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-color: #666666; /* Iconos inactivos en claro */
  --ion-tab-bar-color-selected: #007aff; /* Iconos activos en claro */

  /* Otros ajustes personalizados */
  --ion-tab-bar-height: 60px;
  --ion-tab-button-background: transparent;
  --ion-icon-size-large: 28px;
  --ion-icon-size-small: 20px;
}

/* Modo oscuro */
body.dark {
  --ion-background-color: #0f0f0f; /* Fondo oscuro */
  --ion-text-color: #f0f0f0; /* Texto claro */
  --ion-text-secondary: #a1a1a1; /* Texto secundario oscuro */
  --ion-text-danger: #ff4d4d; /* Texto de advertencia en oscuro */
  --ion-card-background: #141414; /* Fondo de tarjetas en oscuro */
  --ion-input-background: #141414; /* Fondo de tarjetas en oscuro */

  --ion-box-shadow: 0 1px 5px rgba(146, 146, 146, 0.363);

  /* Colores de botones en modo oscuro */
  --ion-color-danger: #ff4d4d; /* Botón de eliminar */
  --ion-color-warning: #ffcc00; /* Botón de editar */

  /* Barra de herramientas y pestañas */
  --ion-toolbar-background: #0f0f0f;
  --ion-tab-bar-background: #0f0f0f;
  --ion-tab-bar-color: #8e8e93; /* Iconos inactivos en oscuro */
  --ion-tab-bar-color-selected: #007aff; /* Iconos activos en oscuro */
}
